/*!
 * bar icons
 */

/*  雪碧图结构如下：
 *  -------------------------------------------
 *  |  百货   |   进口   |   美食   |   母婴  |
 *  -------------------------------------------
 *  |  美妆   |   首页   |   童装   |   玩具  |
 *  -------------------------------------------
 *  |  孕产   | 猜你喜欢 |  热销榜  |    -    |
 *  -------------------------------------------
 *  |   -     |    -     |    -     |    -    |
 *  -------------------------------------------
 *  
 *  PS：一共八格，美格宽高50px  右侧4格为灰色版本
 *  ---------
 *  1  百货
 *  2  进口
 *  3  美食
 *  4  母婴
 *  5  美妆
 *  6  首页
 *  7  童装
 *  8  玩具
 *  9  孕产
 *  10 猜你喜欢
 *  11 热销榜
 */

.sprite-icon {
	width: rem(50);
	height: rem(50);
	background: url($url-icons) no-repeat;
	background-size: rem(400) auto;
}

$count: 0;
$area: 50;
@for $i from 1 through 20 {
	.sprite-icon-#{$i} {
		$x: ($i - 1) % 4 * $area;
		$y: $count * $area;
		background-position: rem(-$x) rem(-$y);
		&._gray_ {
			$x: (($i - 1) % 4 + 4) * $area;
			$y: $count * $area;
			background-position: rem(-$x) rem(-$y);
		}
	}
	@if $i % 4 == 0 {
		$count: $count + 1
	}
}